{% extends "YunshangCommonBundle::layout/base.html.twig" %}
{% block title "Yunshang Market Index Page"  %}
{% block content %}
welcome to yunshang index page
<br />

the start page is from src/Yunshang/Bundle/MarketBundle/Resource/views/Default/index.html.twig.
<br />



{% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_REGISTER') and not is_granted('ROLE_MANAGER') %}
<a href="{{path('account_register')}}">Register</a>
<a href="{{path('account_login')}}">login</a>
{% else %}

<a href="{{path('account_logout')}}">logout</a>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('manage_index')}}">manage panel</a>
{% endif %}

{% if is_granted('ROLE_REGISTER') %}

    <a href="{{path('customer_index')}}">customer panel</a>
    {% endif %}
{% endblock %}
