{% extends "YunshangManageBundle::layout/manage_base.html.twig" %}

{% block manage_content %}
<h1>Product list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Shortdescription</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.shortDescription }}</td>
            <td>{{ entity.price }}</td>
            <td>
              <a href="{{ path('product_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('product_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
