{% extends "YunshangCommonBundle::layout/base.html.twig" %}
{% block title "profile"  %}
{% block content %}

<hr/>
<a href="{{path("account_shippingaddress")}}">ShippingAddress management</a>
<hr/>
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
{% if app.session.hasFlash('notice') %}
    <div>{{ app.session.flash('notice').message }}</div>
{% endif %}
<form action="{{ path('account_profile') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="act"><button type="submit">Submit it!</button></p>
</form>

    
{% endblock %}




