<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/yunshangcommon/images/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/yunshangcommon/css/base.css') }}" type="text/css" media="all" />
	    <!--[if lt IE 9]>
	    <script src="{{ asset('bundles/yunshangcommon/js/html5hack.js')}}"></script>
	    <![endif]-->
        {% block header %}{% endblock %}
	</head>
	<body>
<!--
      <div id="header_bar">
        <a href="{{path('market_index')}}">Home</a>
        {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_REGISTER') and not is_granted('ROLE_MANAGER') %}
        <a href="{{path('account_register')}}">Register</a>
        <a href="{{path('account_login')}}">login</a>
        {% else %}
        <a href="{{path('account_profile')}}">{{app.user.username}}</a>
        <a href="{{path('account_logout')}}">logout</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('manage_index')}}">manage panel</a>
        {% endif %}

        {% if is_granted('ROLE_REGISTER') %}
        <a href="{{path('customer_index')}}">customer panel</a>
        {% endif %}
      </div>
      -->
           {% block content %}
           {% endblock %}
	</body>
</html>
