<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<title>{% block manage_title %}{% endblock %} | Powered by yunshang.org</title>
        <link rel="shortcut icon" href="{{ asset('bundles/yunshangcommon/images/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/yunshangcommon/css/base.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/yunshangmanage/css/manage.css') }}" type="text/css" media="all" />
        <script src="{{ asset('bundles/yunshangcommon/js/yui/yui/yui-min.js')}}"></script>
	    <!--[if lt IE 9]>
	    <script src="{{ asset('bundles/yunshangcommon/js/html5hack.js')}}"></script>
	    <![endif]-->
        {% block header %}{% endblock %}
	</head>
	<body>
<!--
      <div id="header_bar">
      </div>
      -->

<div id="manage_wrapper">
  <div id="manage_header">
    <div id="manage_logo"><img src="{{asset('bundles/yunshangcommon/images/logo_light.png')}}" height="60px" /> Yunshang </div>
    <div id="manage_top_nav">
        <a href="{{path('market_index')}}">Website |</a>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGISTER') or is_granted('ROLE_MANAGER') %}
        <a href="{{path('account_profile')}}">{{app.user.username}}</a> |
        {% endif %}

        <a href="{{path('account_logout')}}">logout</a> &nbsp;&nbsp;
    </div>
    <div id="manage_main_nav">
      <ul class="J_menu">
        <li class="nav_ul"><a href="{{path('manage_index')}}">Dashboard</a></li>
        <li class="nav_ul"><a href="#main">Catalog</a>
          <ul class="hidden">
            <li><a href="{{path('product_category')}}">Manage Category</a></li>
            <li><a href="{{path('product')}}">Manage Products</a></li>
          </ul>
        </li>
        <li class="nav_ul"><a href="#main">System</a>
          <ul class="hidden">
            <li><a href="{{path('manage_system_configuration_index')}}">Configuration</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="manage_content" class="clearfix">
    {% block manage_content %}
    {% endblock %}
  </div>
  <div id="manage_footer">
    <hr />
    Powered by <a href="http://yunshang.org" target="_blank">yunshang.org</a>
    Choose your country or region
    <select id="locale_selector">
      <option value="{{path('locale_en_US')}}">English</option>
      <option value="{{path('locale_zh_CN')}}">Chinese</option>
      <option value="{{path('locale_navi')}}">Navi</option>
    </select>
  </div>
</div>

<script>
YUI().use('anim', function (Y) {
	Y.all('.J_menu').on('click', function(e){
		var el = e.target,
			child = el.get('parentNode').one('ul');
		if ( !child ) return;
		// stop a link event
		e.preventDefault();
		// set animate for menu open
		child.plug(Y.Plugin.NodeFX, {
			from: {
				height: function(node) {
					return node.get('scrollHeight'); 
				}
			},
			to: { height: 1 },
			easing: Y.Easing.easeOut,
			duration: 0.5
		});
		// toggle child visiable
		child.toggleClass('hidden');
		// run animate
		child.fx.set('reverse', !child.fx.get('reverse')); 
        child.fx.run();
	})
});

//YUI().use('locale_selector', 'event', function (Y) {
//});
</script>
	</body>
</html>




